In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('movies_metadata.csv')

C:\Users\debna\AppData\Local\Temp\ipykernel_12940\2212646091.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('movies_metadata.csv')

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
df=df[['title','id','imdb_id','belongs_to_collection','original_language','genres','overview','tagline','status'
    ,'release_date','runtime','spoken_languages', 'vote_average', 'vote_count']]

In [6]:
credit_df=pd.read_csv('credits.csv')

In [7]:
credit_df

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [8]:
credit_df.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [9]:
print(df.id.dtype)

object

In [10]:
print(credit_df.id.dtype)

int64

In [11]:
credit_df.id=credit_df['id'].astype(str)
merged_df=df.merge(credit_df,on='id')

In [12]:
merged_df

,title,id,imdb_id,belongs_to_collection,original_language,genres,overview,tagline,status,release_date,runtime,spoken_languages,vote_average,vote_count,cast,crew
0,Toy Story,862,tt0114709,"{'id': 10194, 'name': 'Toy Story Collection', ...",en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",NaN,Released,1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,Jumanji,8844,tt0113497,NaN,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Released,1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,Grumpier Old Men,15602,tt0113228,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Released,1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,Waiting to Exhale,31357,tt0114885,NaN,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,Released,1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,Father of the Bride Part II,11862,tt0113041,"{'id': 96871, 'name': 'Father of the Bride Col...",en,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Released,1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,Subdue,439050,tt6209470,NaN,fa,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",Rising and falling between a man and woman.,Rising and falling between a man and woman,Released,NaN,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",4.0,1.0,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45534,Century of Birthing,111109,tt2028550,NaN,tl,"[{'id': 18, 'name': 'Drama'}]",An artist struggles to finish his work while a...,NaN,Released,2011-11-17,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",9.0,3.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45535,Betrayal,67758,tt0303758,NaN,en,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",A deadly game of wits.,Released,2003-08-01,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45536,Satan Triumphant,227506,tt0008536,NaN,en,[],"In a small town live two brothers, one a minis...",NaN,Released,1917-10-21,87.0,[],0.0,0.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45537,Queerama,461257,tt6980792,NaN,en,[],50 years after decriminalisation of homosexual...,NaN,Released,2017-06-09,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",0.0,0.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [13]:
merged_df.isnull().sum()

title                        3
id                           0
imdb_id                     17
belongs_to_collection    41038
original_language           11
genres                       0
overview                   954
tagline                  25099
status                      84
release_date                87
runtime                    260
spoken_languages             3
vote_average                 3
vote_count                   3
cast                         0
crew                         0
dtype: int64

In [14]:
merged_df.drop(['belongs_to_collection','tagline'],axis=1,inplace=True)

In [15]:
merged_df.dropna(how='any',inplace=True)

In [16]:
merged_df.isnull().sum()

title                0
id                   0
imdb_id              0
original_language    0
genres               0
overview             0
status               0
release_date         0
runtime              0
spoken_languages     0
vote_average         0
vote_count           0
cast                 0
crew                 0
dtype: int64

In [17]:
merged_df.shape

(44424, 14)

In [18]:
merged_df.status.value_counts()

status
Released           44083
Rumored              216
Post Production       96
In Production         16
Planned               12
Canceled               1
Name: count, dtype: int64

In [19]:
merged_df=merged_df[merged_df.status=='Released']
merged_df.drop('status',axis=1,inplace=True)

C:\Users\debna\AppData\Local\Temp\ipykernel_12940\109155381.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.drop('status',axis=1,inplace=True)

In [20]:
merged_df.columns

Index(['title', 'id', 'imdb_id', 'original_language', 'genres', 'overview',
       'release_date', 'runtime', 'spoken_languages', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

In [21]:
merged_df.head()

,title,id,imdb_id,original_language,genres,overview,release_date,runtime,spoken_languages,vote_average,vote_count,cast,crew
0,Toy Story,862,tt0114709,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,Jumanji,8844,tt0113497,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,Grumpier Old Men,15602,tt0113228,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,Waiting to Exhale,31357,tt0114885,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,Father of the Bride Part II,11862,tt0113041,en,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [22]:
merged_df['release_year']=merged_df.release_date.apply(lambda x: int(x.split('-')[0]))
merged_df.drop('release_date',axis=1,inplace=True)

C:\Users\debna\AppData\Local\Temp\ipykernel_12940\2087234949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['release_year']=merged_df.release_date.apply(lambda x: int(x.split('-')[0]))
C:\Users\debna\AppData\Local\Temp\ipykernel_12940\2087234949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.drop('release_date',axis=1,inplace=True)

In [23]:
merged_df=merged_df[(merged_df.release_year>=2013) & (merged_df.original_language=='en')]
merged_df.drop('original_language',axis=1,inplace=True)

In [24]:
merged_df

,title,id,imdb_id,genres,overview,runtime,spoken_languages,vote_average,vote_count,cast,crew,release_year
1090,The Sleepover,141210,tt2250194,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...","The town of Derry has a secret, but no one tol...",6.0,[],8.0,1.0,"[{'cast_id': 2, 'character': 'Rachel', 'credit...","[{'credit_id': '52fe4aaf9251416c750ea6f1', 'de...",2013
11293,The Scar,171771,tt2449612,"[{'id': 18, 'name': 'Drama'}]",The Scar draws an intense psychological suspen...,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",0.0,0.0,"[{'cast_id': 4, 'character': 'Richard Tremblay...","[{'credit_id': '52fe4d13c3a36847f824d579', 'de...",2013
14831,Dante's Hell Animated,31156,tt1472122,"[{'id': 16, 'name': 'Animation'}]",Dante's Hell Animated is a real and truthful e...,35.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",8.0,4.0,"[{'cast_id': 1, 'character': 'Circles Introduc...","[{'credit_id': '52fe44649251416c9100f13f', 'de...",2013
18154,Pompeii: The Mystery of the People Frozen in Time,157924,tt2806964,"[{'id': 99, 'name': 'Documentary'}]",In a one off landmark drama documentary for BB...,59.0,"[{'iso_639_1': 'en', 'name': 'English'}]",4.5,2.0,"[{'cast_id': 1, 'character': 'Bella Donna', 'c...","[{'credit_id': '52fe4bd79251416c910e7485', 'de...",2013
18310,Bullet to the Head,70074,tt1308729,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","After watching their respective partners die, ...",92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.2,490.0,"[{'cast_id': 4, 'character': 'James Bonomo', '...","[{'credit_id': '52fe47e9c3a368484e0e0019', 'de...",2013
...,...,...,...,...,...,...,...,...,...,...,...,...
45489,Cop and a Half: New Recruit,461297,tt6212210,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",In this family-friendly action reboot of the 1...,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.0,1.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",2017
45499,The Sublet,365432,tt4285960,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",The Sublet is a suspense driven psychological ...,82.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",6.5,4.0,"[{'cast_id': 1, 'character': 'Joanna', 'credit...","[{'credit_id': '562e344bc3a3681b5c00ab29', 'de...",2015
45509,In a Heartbeat,455661,tt6969946,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",A closeted boy runs the risk of being outed by...,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",8.3,146.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",2017
45526,The Morning After,420346,tt4130180,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",The Morning After is a feature film that consi...,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",4.0,2.0,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",2015
45537,Queerama,461257,tt6980792,[],50 years after decriminalisation of homosexual...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",0.0,0.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",2017

# using weighted average for each movie's average rating

In [25]:
R=merged_df.vote_average
v=merged_df.vote_count
C=merged_df.vote_average.mean()
m=merged_df.vote_count.quantile(0.70)

In [26]:
merged_df['weighted_average']=(R*v+C*m)/(v+m)

In [27]:
merged_df.head()

,title,id,imdb_id,genres,overview,runtime,spoken_languages,vote_average,vote_count,cast,crew,release_year,weighted_average
1090,The Sleepover,141210,tt2250194,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...","The town of Derry has a secret, but no one tol...",6.0,[],8.0,1.0,"[{'cast_id': 2, 'character': 'Rachel', 'credit...","[{'credit_id': '52fe4aaf9251416c750ea6f1', 'de...",2013,5.696181
11293,The Scar,171771,tt2449612,"[{'id': 18, 'name': 'Drama'}]",The Scar draws an intense psychological suspen...,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",0.0,0.0,"[{'cast_id': 4, 'character': 'Richard Tremblay...","[{'credit_id': '52fe4d13c3a36847f824d579', 'de...",2013,5.651008
14831,Dante's Hell Animated,31156,tt1472122,"[{'id': 16, 'name': 'Animation'}]",Dante's Hell Animated is a real and truthful e...,35.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",8.0,4.0,"[{'cast_id': 1, 'character': 'Circles Introduc...","[{'credit_id': '52fe44649251416c9100f13f', 'de...",2013,5.821844
18154,Pompeii: The Mystery of the People Frozen in Time,157924,tt2806964,"[{'id': 99, 'name': 'Documentary'}]",In a one off landmark drama documentary for BB...,59.0,"[{'iso_639_1': 'en', 'name': 'English'}]",4.5,2.0,"[{'cast_id': 1, 'character': 'Bella Donna', 'c...","[{'credit_id': '52fe4bd79251416c910e7485', 'de...",2013,5.607574
18310,Bullet to the Head,70074,tt1308729,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","After watching their respective partners die, ...",92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.2,490.0,"[{'cast_id': 4, 'character': 'James Bonomo', '...","[{'credit_id': '52fe47e9c3a368484e0e0019', 'de...",2013,5.242516

In [28]:
merged_df.iloc[1]

title                                                        The Scar
id                                                             171771
imdb_id                                                     tt2449612
genres                                  [{'id': 18, 'name': 'Drama'}]
overview            The Scar draws an intense psychological suspen...
runtime                                                          90.0
spoken_languages            [{'iso_639_1': 'fr', 'name': 'Français'}]
vote_average                                                      0.0
vote_count                                                        0.0
cast                [{'cast_id': 4, 'character': 'Richard Tremblay...
crew                [{'credit_id': '52fe4d13c3a36847f824d579', 'de...
release_year                                                     2013
weighted_average                                             5.651008
Name: 11293, dtype: object

In [29]:
merged_df.reset_index(drop=True,inplace=True)

The ast.literal_eval() function is used to safely evaluate a string containing a Python literal (such as a list, dictionary, tuple, etc.)
and return the corresponding Python object.

In [30]:
import ast

# Create a sample DataFrame
data11 = {'genres': ["['Action', 'Adventure']", "['Comedy', 'Romance']"]}
df11 = pd.DataFrame(data11)

df11

                    genres
0  ['Action', 'Adventure']
1    ['Comedy', 'Romance']

In [31]:
df11.iloc[0][0][1]

"'"

In [32]:
# Convert the values in the 'genres' column from string to list
df11['genres'] = df11['genres'].map(lambda x: ast.literal_eval(x))

# Print the updated DataFrame
print(df11)# Convert the values in the 'genres' column from string to list

                genres
0  [Action, Adventure]
1    [Comedy, Romance]

In [33]:
print(df11.genres.dtypes)

object

In [34]:
import ast 
merged_df.genres=merged_df.genres.apply( lambda x: ast.literal_eval(x))

In [35]:
merged_df.genres.value_counts()

genres
[{'id': 99, 'name': 'Documentary'}]                                                                                                   749
[{'id': 35, 'name': 'Comedy'}]                                                                                                        496
[{'id': 18, 'name': 'Drama'}]                                                                                                         484
[]                                                                                                                                    210
[{'id': 27, 'name': 'Horror'}]                                                                                                        162
                                                                                                                                     ...
[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 27, 'name': 'Horror'}, {'id': 53, 'name': 'Thriller'}]           1
[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}]                                           1
[{'id': 10770, 'name': 'TV Movie'}, {'id': 28, 'name': 'Action'}, {'id': 878, 'name': 'Science Fiction'}]                               1
[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}]                                  1
[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]      1
Name: count, Length: 903, dtype: int64

In [36]:
def access_genre(x):
    gen_list=[]
    for i in x:
        y=i['name']
        if y=='Science Fiction':
            y='Sci-Fi'
        gen_list.append(y)
    if gen_list==[]:
        return(np.nan)
    else :
        return(' '.join(gen_list))

In [37]:
merged_df.genres=merged_df.genres.apply(access_genre)

In [38]:
merged_df.head()

,title,id,imdb_id,genres,overview,runtime,spoken_languages,vote_average,vote_count,cast,crew,release_year,weighted_average
0,The Sleepover,141210,tt2250194,Comedy Horror,"The town of Derry has a secret, but no one tol...",6.0,[],8.0,1.0,"[{'cast_id': 2, 'character': 'Rachel', 'credit...","[{'credit_id': '52fe4aaf9251416c750ea6f1', 'de...",2013,5.696181
1,The Scar,171771,tt2449612,Drama,The Scar draws an intense psychological suspen...,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",0.0,0.0,"[{'cast_id': 4, 'character': 'Richard Tremblay...","[{'credit_id': '52fe4d13c3a36847f824d579', 'de...",2013,5.651008
2,Dante's Hell Animated,31156,tt1472122,Animation,Dante's Hell Animated is a real and truthful e...,35.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",8.0,4.0,"[{'cast_id': 1, 'character': 'Circles Introduc...","[{'credit_id': '52fe44649251416c9100f13f', 'de...",2013,5.821844
3,Pompeii: The Mystery of the People Frozen in Time,157924,tt2806964,Documentary,In a one off landmark drama documentary for BB...,59.0,"[{'iso_639_1': 'en', 'name': 'English'}]",4.5,2.0,"[{'cast_id': 1, 'character': 'Bella Donna', 'c...","[{'credit_id': '52fe4bd79251416c910e7485', 'de...",2013,5.607574
4,Bullet to the Head,70074,tt1308729,Action Crime Thriller,"After watching their respective partners die, ...",92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.2,490.0,"[{'cast_id': 4, 'character': 'James Bonomo', '...","[{'credit_id': '52fe47e9c3a368484e0e0019', 'de...",2013,5.242516

In [39]:
merged_df.cast=merged_df.cast.apply( lambda x: ast.literal_eval(x))

In [40]:
merged_df.cast.iloc[1]

[{'cast_id': 4,
  'character': 'Richard Tremblay',
  'credit_id': '52fe4d13c3a36847f824d587',
  'gender': 2,
  'id': 123560,
  'name': 'Marc Béland',
  'order': 0,
  'profile_path': '/1Gc0o5onACASes3ltCiS4Jq8kJ.jpg'},
 {'cast_id': 3,
  'character': 'Paul Simoneau',
  'credit_id': '52fe4d13c3a36847f824d583',
  'gender': 0,
  'id': 1019878,
  'name': 'Patrick Goyette',
  'order': 1,
  'profile_path': None},
 {'cast_id': 5,
  'character': 'Richard Tremblay (jeune)',
  'credit_id': '53236ef7c3a36824b5004a23',
  'gender': 0,
  'id': 1301003,
  'name': 'Sébastien Leblanc',
  'order': 2,
  'profile_path': None},
 {'cast_id': 6,
  'character': 'Guylaine',
  'credit_id': '53236effc3a3685745005a79',
  'gender': 0,
  'id': 1038681,
  'name': 'Joëlle Morin',
  'order': 3,
  'profile_path': '/ovKygzrFQhANIQYPCuPrjqTYz3Z.jpg'}]

In [41]:
# taking top 3 casts 
def access_cast(x):
    cast_list=[]
    for i in x:
        cast_list.append(i['name'])
    return(cast_list[:3])

In [42]:
merged_df.crew.iloc[1]

"[{'credit_id': '52fe4d13c3a36847f824d579', 'department': 'Directing', 'gender': 0, 'id': 1154307, 'job': 'Director', 'name': 'Jimmy Larouche', 'profile_path': None}, {'credit_id': '52fe4d13c3a36847f824d57f', 'department': 'Writing', 'gender': 0, 'id': 1154308, 'job': 'Writer', 'name': 'Jimmy Larouche', 'profile_path': None}]"

In [43]:
merged_df.crew=merged_df.crew.apply( lambda x: ast.literal_eval(x))

In [44]:
# taking top Director 
def access_director(x):
    director_list=[]
    for i in x:
        if i['job']=='Director':
            director_list.append(i['name'])
    return(director_list[:1])

In [45]:
merged_df['director']=merged_df.crew.apply(access_director)

In [46]:
merged_df.cast=merged_df.cast.apply(access_cast)

In [47]:
merged_df=merged_df[(merged_df.director.apply(len)>0) & (merged_df.cast.apply(len)==3)]

In [48]:
merged_df.cast=merged_df.cast.apply(lambda x:' '.join(x))

C:\Users\debna\AppData\Local\Temp\ipykernel_12940\3576397277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.cast=merged_df.cast.apply(lambda x:' '.join(x))

In [49]:
merged_df.director=merged_df.director.apply(lambda x: x[0])

C:\Users\debna\AppData\Local\Temp\ipykernel_12940\1723471733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.director=merged_df.director.apply(lambda x: x[0])

In [50]:
merged_df['comb']= merged_df.cast + ' ' +  merged_df.director +  ' ' + merged_df.genres

C:\Users\debna\AppData\Local\Temp\ipykernel_12940\3987248126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['comb']= merged_df.cast + ' ' +  merged_df.director +  ' ' + merged_df.genres

In [51]:
new_df=merged_df.drop(['id','imdb_id','overview','spoken_languages','vote_average','vote_count'
                       ,'cast','crew'],axis=1)
new_df.head()

,title,genres,runtime,release_year,weighted_average,director,comb
0,The Sleepover,Comedy Horror,6.0,2013,5.696181,Chris Cullari,Josh Feldman Gus Kamp Carolyn Jania Chris Cull...
1,The Scar,Drama,90.0,2013,5.651008,Jimmy Larouche,Marc Béland Patrick Goyette Sébastien Leblanc ...
2,Dante's Hell Animated,Animation,35.0,2013,5.821844,Boris Acosta,Jeff Conaway Eric Roberts Vincent Spano Boris ...
4,Bullet to the Head,Action Crime Thriller,92.0,2013,5.242516,Walter Hill,Sylvester Stallone Sung Kang Sarah Shahi Walte...
5,The Congress,Drama Sci-Fi Animation,122.0,2013,6.223155,Ari Folman,Robin Wright Harvey Keitel Jon Hamm Ari Folman...

In [52]:
print(new_df.shape)

(4430, 7)

In [53]:
print(new_df.comb.dtype)

object

In [54]:
new_df.comb=new_df.comb.astype('str').apply( lambda x: x.lower())

In [55]:
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
vectorizer=CountVectorizer()
comb_vec=vectorizer.fit_transform(new_df.comb).toarray()

In [57]:
comb_vec.shape

(4430, 10588)

In [58]:
comb_vec

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [59]:
print(vectorizer.get_feature_names_out())

['aard' 'aarniokoski' 'aaron' ... '张雨绮' '杰森' '莫玛']

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

In [61]:
similarity=cosine_similarity(comb_vec)

In [62]:
similarity.shape

(4430, 4430)

In [66]:
def recommend_movie(movie):
    if movie not in new_df['title'].unique():
        return('Sorry! The movie you requested is not in our database. Please check the spelling or try with some other movies')
    else:
        movie_index=new_df[new_df.title==movie].index[0]
        cos_similarity=similarity[movie_index]
    
        list1=sorted(enumerate(cos_similarity),reverse=True,key=(lambda x : x[1]))
        for i in range (1,6):
            print(new_df.title.iloc[list1[i][0]] +' ,similarity='+ str(list1[i][1]))

In [67]:
recommend_movie('The Revenant')

King Charles III ,similarity=0.31622776601683794
Wedding Bells ,similarity=0.30151134457776363
Essex Boys: Law of Survival ,similarity=0.28867513459481287
Top Five ,similarity=0.2773500981126146
Alex of Venice ,similarity=0.2672612419124244

In [68]:
new_df.groupby('genres').sum().tail(5)

,title,runtime,release_year,weighted_average,director,comb
genres,,,,,,
Western Drama Adventure Thriller,The Revenant,156.0,2015,7.287275,Alejandro González Iñárritu,leonardo dicaprio tom hardy will poulter aleja...
Western Drama History,The Retrieval,91.0,2013,5.861992,Chris Eska,ashton sanders tishuan scott keston john chris...
Western Drama Thriller,Echoes Of WarOutlaws and Angels,220.0,4031,11.367728,Kane SenesJT Mollner,james badge dale ethan embry william forsythe ...
Western Horror,Blood Moon,90.0,2014,5.643357,Jeremy Wooding,shaun dooley george blagden anna skellern jere...
Western Thriller,Sweetwater,95.0,2013,5.854110,Logan Miller,ed harris january jones jason isaacs logan mil...